/bin/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Compiled class file
*.class

# Log file
*.log

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

### Gradle ###
.gradle
/build/

# Mac DS file
.DS_Store

/bin/
